* {
  box-sizing: border-box;
}

/* Standardized colours for quickswap (hero banner excluded) */

:root {
  --light-color: #EBEBEB;
  --dark-color: #000000;
  --vibrant-color: #EA3788;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--light-color);
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background: var(--dark-color);
  color: var(--light-color);
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header a:hover {
  color: var(--vibrant-color)
}

.header a:active {
  color: var(--vibrant-color)
}

h1 {
  position: relative;
  font-weight: 500;
}

/* Speech bubble credits: Tom Kuhlmann https://community.articulate.com/download/10-hand-drawn-square-speech-bubbles */

@media (min-width: 600px) {
  h1:hover::after {
    content: url("../images/hi-icon-50.png");
    max-height: 20px;
    position: absolute;
    right: -85px;
    top: 0px;
  }
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 5px;
}

/* hero banner styling */

.hero-banner {

  background-image: linear-gradient(0deg, #ff00997d, rgba(0, 0, 0, 0.5)), url(../images/headerimage2.png);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 500;
  /* image credit https://pin.it/1HRxYpf */
  /* pink gradient overlay credit https://medium.com/@miguelznunez/how-to-easily-add-an-image-overlay-to-your-images-with-css-e354a79f530d */
}

.hero-banner span {

  color: var(--light-color);
  text-shadow:
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;

}

#gear {

  text-shadow: none;
}

#www {
  color: #949494;
}


.page-wrapper {
  margin: 15px;
  padding-top: 20px;
}


#about {

  display: flex;
  width: 100%;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

#about img {
  margin-top: 15px;
}

#www2 {
  color: var(--vibrant-color);
}

/* Below .h2-lines styling applies to all sections */

.h2-lines {
  display: flex;
  width: 100%;
  justify-content: center;
}

.h2-lines div {
  background-color: var(--vibrant-color);
  height: 3px;
  margin-top: 18px;
  margin-left: 5px;
  margin-right: 5px;
  width: 45vw;
}

#about p {
  margin-top: 15px;
  text-align: center;
  max-width: 1600px;
}

/* work container styling */




h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* contact section styling */

.icons {
  margin-top: 0px;
  display: flex;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 20px;

}

.icons img {
  width: auto;
  height: 50px;

}

.contact-email,
.contact-linkedin,
.contact-github {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.contact-email:hover .email-text,
.contact-linkedin:hover .linkedin-text,
.contact-github:hover .github-text {
  opacity: 1;
}

.email-text,
.linkedin-text,
.github-text {
  text-align: center;
  margin-top: 0px;
  opacity: 0;
  transition: opacity 0.3s;
  color: var(--vibrant-color)
}

/* ------------------ */

.work-container {
  border: 1px solid black;
  display: grid;
  gap: 5px;
  margin: 0px auto;
  height: 90vh;
  width: 100%;
  max-width: 1600px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "main-project main-project other-project1 other-project2"
  "main-project main-project other-project3 other-project4";
}

#main-project {
  grid-area: main-project;
  background-image: url("../images/Horiseon2.png");
  background-repeat: no-repeat;
  width: 100%;
}

#other-project1 {
  grid-area: other-project1;
  background-image: url("../images/willitstick.png");
  background-repeat: no-repeat;
  object-fit: contain;
  width: auto;
}

#other-project2 {
  grid-area: other-project2;
  background-image: url("../images/github.png");
  background-repeat: no-repeat;
  object-fit: contain;
  width: auto;
}

#other-project3 {
  grid-area: other-project3;
  background-image: url("../images/skunkwwworks.png");
  background-repeat: no-repeat;
  object-fit: contain;
  width: auto;
}

#other-project4 {
  grid-area: other-project4;
  background-image: url("../images/venueguide.png");
  background-repeat: no-repeat;
  object-fit: contain;
  width: auto;
}


/* body {
  font-family: 'Poppins', sans-serif;
} */

/* Grid CSS */

/* #heroGrid {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 75% 25%;
  grid-template-columns: 75% 25%;
  grid-template-areas:
  "featuredProduct secondaryProduct"
  "featuredProduct CTA";
}

#featuredProduct {
  grid-area: featuredProduct;
  background-image: url("../images/furniture1.png");
}

#secondaryProduct {
  grid-area: secondaryProduct;
  background-image: url("../images/furniture2.png");
}

#CTA {
  grid-area: CTA;
  background-image: url("../images/woodbg.png");
  justify-content: space-around;
  cursor: pointer;
}

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

#categoryGrid {
  display: grid;
  margin-top: 0px 5%;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "bookcases bedroom patio"
  "couches couches patio"
  "desks desks desks";
}

#bookcases {
  grid-area: bookcases;
  background-image: url("../images/bookcases@2x.png")
}

#bedroom {
  grid-area: bedroom;
  background-image: url("../images/beds@2x.png");
}

#couches {
  grid-area: couches;
  background-image: url("../images/couch@2x.png");
}

#patio {
  grid-area: patio;
  background-image: url("../images/patio@2x.png");
}

#desks {
  grid-area: desks;
  background-image: url("../images/desks@2x.png");
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #FF6200;
}


#headline {
  background-color: rgba(255,255,255,0.8);
  border-bottom: 5px solid #FF6200;
  position: absolute;
  right: -50px;
  top: 100px;
  padding: 25px;
  max-width: 550px;
  z-index: 100;
}

.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

/* Category Grid CSS */




/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */
/* #navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
#navBar h1 {
  width: 25%;
  font-weight: 500;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}
.highlight {
  color: #FF6200;
  font-weight: 700;
}

/* Typography CSS */

/* h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #FF6200;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
} */